
/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */


.modal-section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
}

.modal-wrapper {
  position: relative;
  top: 35px;
  display: block;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f0f0;
}

.modal-wrapper.black {
  background-color: #242424;
}

.modal-close {
  margin-bottom: 5px;
  padding: 5px 15px;
  color: #000;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}

.modal-logo-wrapper {
   text-align: center;
}

.modal-close.light {
  color: #fff;
}

.modal-form {
  padding: 31px;
}

.modal-logo {
  width: 200px;
}

.modal-button {
  background-color: #21292d;
  cursor: pointer;
}

.modal-button.light {
  background-color: #585858;
  color: #fff;
}

.dark {
  color: #1a1a1a;
}

@media (max-width: 991px) {
  .bottom-menu {
    text-align: center;
  }
  .bottom-menu.menus-button {
    margin-left: 0px;
    font-size: 20px;
  }
  .bottom-menu.reservation-button {
    font-size: 20px;
  }
  .bottom-menu.info-button {
    padding-right: 0px;
    font-size: 20px;
  }
  .bottom-menu.directions-button {
    margin-left: 0px;
    padding-right: 0px;
    font-size: 20px;
  }
  .bottom-menu.press-button {
    width: auto;
    font-size: 20px;
  }
  .bottom-menu.headline-holiday-banner {
    margin-left: 0px;
    padding-right: 0px;
    font-size: 17px;
  }
  .address {
    font-size: 13px;
  }
  .outer-menu-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-drink {
    padding-right: 0px;
    padding-left: 0px;
  }
  .rows-wgscp-private1 {
    margin-top: 1px;
  }
  .link-subscribe {
    display: none;
  }
  .type-rehearsal {
    font-size: 17px;
    line-height: 21px;
  }
  .column3-footer2 {
    display: none;
  }
  .container-footer2 {
    margin-top: 32px;
  }
  .type-invite {
    font-size: 13px;
    line-height: 18px;
  }
  .text-rehearsals {
    font-size: 14px;
  }
  .column-2 {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .bottom-menu {
    margin-left: 0px;
  }
  .bottom-menu.reservation-button {
    padding-right: 0px;
  }
  .bottom-menu.info-button {
    padding-right: 0px;
  }
  .bottom-menu.directions-button {
    padding-right: 0px;
    text-align: center;
  }
  .bottom-menu.press-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .bottom-menu.headline-holiday-banner {
    overflow: visible;
  }
  .address {
    font-size: 12px;
  }
  .outer-menu-container {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .wgscp-header.w--current {
    margin-bottom: 0px;
  }
  .social-column3 {
    display: none;
  }
  .social-column2 {
    display: none;
  }
  .container-nav {
    display: none;
  }
  .container-mobile-button {
    color: #fff;
  }
  .type-mobile-button {
    color: #e9dcbc;
  }
  .column-drink {
    padding-right: 0px;
    padding-left: 0px;
  }
  .rows-wgscp-private1 {
    margin-top: 0px;
  }
  .container-rehearsal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .type-rehearsal {
    font-size: 13px;
    line-height: 16px;
  }
  .column-subscribe {
    display: none;
  }
  .column2-footer {
    display: none;
  }
  .column3-footer {
    display: none;
  }
  .column5-footer {
    display: none;
  }
  .column3-footer2 {
    display: none;
  }
  .text-rehearsals {
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .background {
    text-align: center;
  }
  .slideshow {
    height: 212px;
  }
  .wgla_slide01 {
    background-position: 50% 50%;
    background-size: cover;
  }
  .wgla_slide02 {
    background-size: auto;
  }
  .bottom-menu {
    padding-right: 0px;
  }
  .line-bottom-menu {
    text-align: center;
  }
  .address {
    font-size: 9px;
  }
  .wgd-footer.footer-top-dallas {
    text-align: center;
  }
  .outer-menu-container {
    overflow: visible;
    padding-top: 0px;
  }
  .social-footer {
    text-align: center;
  }
  .wgla-social {
    text-align: center;
  }
  .footer-link.directions-link-wgla {
    text-align: center;
  }
  .social-column3 {
    display: none;
  }
  .social-column2 {
    display: none;
    overflow: visible;
  }
  .column-info {
    top: 51px;
  }
  .navigation {
    background-color: #000;
  }
  .container-mobile-button {
    margin-top: 26px;
    text-align: center;
  }
  .link-mobile-button {
    color: #e9dcbc;
    text-decoration: none;
    text-transform: none;
  }
  .type-mobile-button {
    font-size: 27px;
    line-height: 30px;
    text-decoration: none;
  }
  .column-drink {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .rows-wgscp-private1 {
    margin-top: 0px;
  }
  .container-rehearsal {
    display: block;
    margin-top: 0px;
  }
  .type-rehearsal {
    font-size: 13px;
  }
  .column-subscribe {
    text-align: center;
  }
  .column-reservations {
    margin-bottom: 57px;
  }
  .div-rehearsal-widget {
    margin-top: -3px;
    padding-top: 32px;
  }
  .column2-footer {
    display: none;
  }
  .column3-footer {
    display: none;
  }
  .column5-footer {
    display: none;
  }
  .column3-footer2 {
    display: none;
  }
  .container-footer2 {
    text-align: center;
  }
  .text-rehearsals {
    font-size: 12px;
  }
  .text-header-rehearsals {
    line-height: 34px;
  }
  .heading-rehearsals {
    font-size: 17px;
    text-align: center;
  }
}
